.eql
{
  width: 60px;
  display: block;
  margin: 0 auto;
}

.coin
{
  border: 0.0005px solid white;
  font-size: 30px;
}

.coin-sect1
{
  border: 1.5px #00d8b3 solid;
  border-radius: 4px;
}

.coin-sect2
{
  border: 1.5px #30755d solid;
  border-radius: 4px;
}

.tbl
{
  width: 90%;
  margin: 100px auto;
  display: block;
  font-size: 30px;
}

.red
{
  color: #f00;
}

.foot
{
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

/* .loader
{
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
  display: inline-block;
}

@keyframes spin
{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */
